
$NAVY_DARK: rgba(0, 16, 33, 1);


// $NAVY: rgba(61, 90, 128, 1);
// $NAVY_TRANSPARENT: rgba(61, 90, 128, 0.5);

$NAVY: #19396d;
// $NAVY_TRANSPARENT: rgba(0, 0, 0, 0.5);

// $GRAY: rgba(124, 158, 178, 1);
// $GRAY_TRANSPARENT: rgba(124, 158, 178, 0.5);
$GRAY: rgba(245,245,245, 1);
// $GRAY_TRANSPARENT: rgba(0, 0, 0, 0.2);

// $BLUE: rgba(39, 93, 173, 1);
$BLUE: #6cb1d1;

$PURPLE: #ad8db2;

$PAGE_BG: white;


$PRIMARY: $NAVY;
$SECONDARY: $PURPLE;
$TRANSPARENT: rgba(0, 0, 0, 0);
$NAVGAR_BG: white;
$NAVBAR_TEXT: $PRIMARY;

$FLUID_MAX_WIDTH: 1920px;
$NAVBAR_HEIGHT: 76px;

$MEDIA_FONT_SIZE_BP: 800px;
$CONTAINER_MAX_WIDTH: 1600px;

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

/* Global */
body {
  margin: 0;
  padding-top: $NAVBAR_HEIGHT;  /* Actual height of nav is 63px */
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.3em;
  // background-color: $GRAY;
  overflow-x: hidden;
  background-color: $PAGE_BG;
}


h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  color: $PRIMARY;
  font-weight: 700;
}

b {
  color: $SECONDARY;
}

ul li:before {
  font-family: 'FontAwesome';
  content: '\f067';
  margin:0 5px 0 -15px;
  color: #f00;
  list-style-type: none; 
}

@media (min-width: $CONTAINER_MAX_WIDTH) {
  .container {
    max-width: $CONTAINER_MAX_WIDTH !important;
  }
}

/* Common Elements */
.btn-primary {
  background-color: $GRAY;
  border: 0;
  border-radius: 0;
  color: $NAVY; 
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: white;
    background-color: $NAVY;
    font-weight: bold;
    text-decoration: none !important;
}

.no-underline:hover {
  text-decoration: none;
}

a {
  color: $PRIMARY;
}

a:hover {
  color: $SECONDARY;
}

hr {
  color: $GRAY;
}

.container {
  max-width: $CONTAINER_MAX_WIDTH;
}



/* Navbar */
.navbar {
  // margin-bottom: 50px;
  // background-color: rgba(0, 0, 0, 0.4);
  background-color: $NAVGAR_BG;
  -webkit-transition: background-color 0.3s ease-in-out; /* Safari prior 6.1 */
  transition:  background-color 0.3s ease-in-out;

  .nav-link {
    text-transform: uppercase;
  }

  a {
    color: $NAVBAR_TEXT;
    font-weight: 700;
  }

  .navbar-brand {
    color: $NAVBAR_TEXT;
  }

}

.navbar-light .navbar-nav .nav-link {
  color: $NAVBAR_TEXT;

  :hover {
    border-bottom: solid white 1px;
  }
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color:  $NAVBAR_TEXT;
  border-bottom: solid $NAVBAR_TEXT 1px;
}

.navbar-masthead {
  background-color: $NAVGAR_BG;
  -webkit-transition: background-color 0.3s ease-in-out; /* Safari prior 6.1 */
  transition:  background-color 0.3s ease-in-out;
}


/* Used for media atm */
.masthead-correction {
  // margin-top: -$NAVBAR_HEIGHT;
}

/* Background media */
.media-container {

  // -ms-overflow-style: none;  // IE 10+
  // scrollbar-width: none;  // Firefox

  // ::-webkit-scrollbar { 
  //   display: none;  // Safari and Chrome
  // }

  .media {
    top: 0;
    left: 0;
    z-index: -3;
    position: absolute;
    width: 100%;
    height: 100%;
    // filter: blur(2px);
    // -webkit-filter: blur(2px);
  }
  
  .media-overlay {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    text-align: left;
    height: 70vh;
    padding: 2%;
    overflow-y: scroll;
    text-shadow: 2px 2px 2px #19396d;

    .overlay-wrapper {
      max-width: $CONTAINER_MAX_WIDTH;
      align-self: center;
      // border: solid red 1px;
    }

    a {
      color: white;
    }

    h2 {
      font-weight: 300;
    }

    /**************
     TODO: Hide scroll bar on transactions page
    ***************/


    // ::-webkit-scrollbar {
    //   width: 0px;  /* Remove scrollbar space */
    //   background: transparent;  /* Optional: just make scrollbar invisible */
    //   }
    //   /* Optional: show position indicator in red */
    //   ::-webkit-scrollbar-thumb {
    //       background: #FF0000;
    //   }

    .header-wrapper {
      display: inline-block;
      
      @media(max-width: $MEDIA_FONT_SIZE_BP) {
        h1 {
          font-size: 90%;
        }
      }
    }

    .body-wrapper {
      @media(max-width: MEDIA_FONT_SIZE_BP) {
        h2 {
          font-size: 100%;
        }

        p {
          font-size: 60%;
        }
      }
    }
  }

  h1, h2, p {
    color: white;
  }

  hr {
    // max-width: 400px;
    // max-width: 85%;
    border: solid rgba(255, 255, 255, 1) 1px;
    
  }
}


/* Eye Catcher */
.eye-catcher-container {
  background-color: white;
  color: white;
  // text-align: center;
  padding: 5%;
  font-size: 130%;
  // border-top: solid 2px black;
  // border-bottom: solid 2px black;
  
  h1, h2, h3, p {
    color: $PRIMARY;
  }
   
}

.split-images {
  .split-image-column {
    color: white;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .split-image-content {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 5%;

      p {
        font-size: 100%;
      }
    }

    h4 {
      font-size: 250%;
      padding-top: 5%;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

/* presidio-aelf */
#presidio-aelf{
  text-align: left;

  .card-title {
    text-transform: uppercase;
    font-size: 120%;
    color: $PRIMARY;
    // border-bottom: solid $GRAY 1px;
    padding-bottom: 4%;
  }

  .combined-logos {
    max-width: 300px;
    float: right;
  }
  .card img {
    // padding: 1vh 5vh;
    // max-width: 500px;
    // margin: auto;
    // width: auto;
    // height: auto;
  }

  .card {
    margin-bottom: 5vh;
    border: 0;
    max-width: 600px;
    margin: 0 auto 5vh auto;
  }
} 


/* Statistics */
#statistics {
  text-align: center;
  padding: 5% 0;
  
  .counting-stat {
    font-size: 300%;
    color: $PRIMARY;
    font-weight: 600;
  }
}

/* World Map */
#world-map {
  padding: 5% 0;
  .map-wrapper {
    // min-height: 600px;
    width: 900px;
    // margin: 2%;
    // padding: 10% 0;
    // border: solid red 1px;
  }
  
  .jvectormap-container {
    background-color:  $PAGE_BG !important;
  }
}



/* Mission Statement Words */
#mission-statement-words {
  background-image: url('./assets/img/home/mission-statement.jpg');
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
  display: flex;
  align-content: center;
  align-items: center;

  p, h2 {
    color: white;
  }

  p {
    font-size: 150%;
  }

  h2 {
    font-size: 250%;
  }
}

  
@media(max-width: 600px) {
  #mission-statement-words {
    background-position: center bottom;
  }
}

/* Mission Statement */
#mission-statement {
  text-align: center;
  margin-bottom: 5%;

  .icon {
    color: $BLUE;
  }

  .statement-text {
    font-size: 150%;
    // font-style: italic;
  }

  .emphasis {
    font-weight: bold;
  }

  .mechanism {
    text-transform: uppercase;
  }
}

/* Servies */
#services {

  button {
    // background-color: $GRAY_TRANSPARENT;
    color: white;
  }

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: white;
    // background-color: $NAVY_TRANSPARENT;
    font-weight: bold;
    text-decoration: none !important;
  }

  color: white;
  h1, h2, h3, p {
    text-align: center;
    color: white;
  }

  .image-bg {
    // background-image: url(assets/img/plane-stock-bw.jpg);
    // background-image: url(assets/img/plane-stock-tinted2.jpg);
    // background-image: url(assets/img/plane-stock-blur.jpg);
    // background-image: url(assets/img/plane-wing-astro-denoised.jpg);
    // background-image: url(assets/img/plane-sun.jpg);
    // background-image: url(assets/img/plane-sun-darkened.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 2%;
    
  }

  .service {
    padding: 5% 0%;
  }

  @media(min-width: 1000px) {
    .service {
      padding: 5% 5%;
    }
  }
}


/* Our Team */
#our-team {

  .team-member-thumbnail:hover {
   
  }

  .thumbnail {
    padding-bottom: 10%;
    position: relative;
  }
  
  img {
    border: solid 1px rgba(0,0,0,0);
  }

  img:hover {
    border: solid rgba(0,0,0,0.7) 1px;
    -webkit-box-shadow: 0px 10px 25px 10px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 10px 25px 10px rgba(0,0,0,0.45);
    box-shadow: 0px 10px 25px 10px rgba(0,0,0,0.45);
    -webkit-transition: border 0.3s ease-in-out; /* Safari prior 6.1 */
    transition:  border 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out; /* Safari prior 6.1 */
    transition:  box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

  .caption {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .caption p {
    padding: 0;
    margin: 0;
  }

  .caption .name {
    font-size: 110%;
  }

  .caption .title {
    font-size: 80%;
  }
}

.team-bio-modal .modal-content {
  border-radius: 0;
}



/* Portfolio slides */
.carousel-caption {
  background-color: rgba(0,0,0, 0.5);

  h3 {
    font-size: 2em;
    color: white;
  }

  p {
    color: white;
  }
}

/* Recent Transactions */
#recent-transactions {
  padding: 5% 0;

  .card:hover {
    -webkit-box-shadow: 0px 0px 5px 0px $GRAY;
    -moz-box-shadow: 0px 0px 5px 0px $GRAY;
    box-shadow: 0px 0px 5px 0px $GRAY;

    -webkit-transition: border 0.25s ease-in-out; /* Safari prior 6.1 */
    transition:  border 0.25s ease-in-out;
    -webkit-transition: box-shadow 0.25s ease-in-out; /* Safari prior 6.1 */
    transition:  box-shadow 0.25s ease-in-out;
    cursor: pointer;
  }

  .card-header {
    text-transform: uppercase;
    background-color: $NAVY;
    color: white;
    font-weight: 500;
  }

  .card-footer {
    background-color: white;
    color: $NAVY;
  }

  a:hover {
    text-decoration: none;
  }

}

/* Aircraft */
#aircraft {
 
}

#engines {
  .basic-content {
    background-color: $GRAY;
    padding: 5% 0;
  }
}

/* Alternating column */
.even-row {
  background-color: $GRAY;
}

.odd-row {
  background-color: $PRIMARY;
  color: white;

  
  h2 {
    color: white;
  }
}
.alternating-column-row {

  // padding: 5% 0%;
  font-size: 120%;

  .alternating-column-image-column {
    position: relative;
    padding: 0;

  }
// .triangle-image-column-left:before {
//     content: '';
//     position: absolute;
//     top: 0; right: 0;
//     border-top: 80px solid white;
//     border-left: 80px solid transparent;
//     width: 0;
// }

// .triangle-image-column-left:after {
//     content: '';
//     position: absolute;
//     top: 100%; right: 0;
//     border-bottom: 80px solid white;
//     border-left: 80px solid transparent;
//     width: 0;
//     transform: translateX(-50%);
//     transform: translatey(-100%)
// }

// .triangle-image-column-right:before {
//     content: '';
//     position: absolute;
//     top: 0; left: 0;
//     border-top: 80px solid white;
//     border-right: 80px solid transparent;
//     width: 0;
// }

// .triangle-image-column-right:after {
//     content: '';
//     position: absolute;
//     top: 100%; left: 0;
//     border-bottom: 80px solid white;
//     border-right: 80px solid transparent;
//     width: 0;
//     transform: translatey(-100%)
// }

  .alternating-column-content-column {
    display: flex;
    // align-items: flex-start;
    align-items: center;
    padding: 0% 3%;
  }

  image {
    padding: 0;
    margin: 0;
  }


}

/* Transactions */
// #transactions {
//   padding-bottom: 0;

//   .transactions-body {

//     hr  {
//       border-color: transparent;
//     }

//     @media(max-width: 900px) {
//       hr {
//           border-color: $GRAY_TRANSPARENT;
//           width: 100%;
//       } 
//     }

//     h1 {
//       font-size: 3em;
//       text-align: center;
//       padding: 1% 0;
//     }

//     h2 {
//       font-size: 2.5em;
//     }

//     p {
//       font-size: 1.3em;
//       margin-bottom: 0;
//     }

//     .year {
//       margin-bottom: 2%;
//     }

//     .col-md-6 {
//       padding: 0 0;
//     }

//     .container-fluid {
//       padding-bottom: 0;
//     }
    
//     .light-row {
//       background-color: white;
//     }

//     .dark-row {
//       background-color: $PRIMARY;
//       color: white;

//       h2 {
//         color: white;
//       }
//     }

//     .info-column {
//       padding: 2vw 2vw;
//       max-height: 576px;
//       justify-content: center;
//       align-content: center;
//       align-items: center;
//       display: flex;
//       flex-direction: column;
//     }

//     .partner-logo {
//       margin-top: 2%;
//       max-height: 80px;
//     }
//   }
// }

/* Transactions */
#transactions {
  padding-bottom: 0;
  // border: solid green 1px; 
  #transaction-media-overlay {
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: stretch;
    // justify-content: stretch;
    // align-content: stretch;
    // align-self: stretch;
    // border: solid red 1px;
    
    img {
      // border: solid red 1px;
    }

    h1 {
      font-size: 300%;
    }
    .transaction-row {
      margin: 5% 0;
      // border: solid blue 1px;
      // display: flex;
      // // flex-wrap: wrap;
      // // flex-direction: row;
      // justify-content: center;
      // align-content: center;
      // align-items: stretch;
    }

    .transaction-col {
      // border: solid red 1px;
      display: flex;
      align-items: center;
      align-content: flex-end;
      justify-content: center;
    }
  }
}


/* Contact Us */
#contact-us {
  padding-bottom: 4%;
  .locations {
    line-height: 70%;
  }

  #contact-us-content {
    a {
      color: $PRIMARY;
    }
  }
}

/* Footer */
footer {
  background-color: $NAVY;
  padding: 1% 0 0 0;
  color: white;
  text-align: left;

  .column {
    padding: 1%;
  }
  .logo-col {
    text-align: center;
    padding: 2% 0;
  }
  .partner-image {
    max-height: 100px;
  }

  .contact-info {
    flex: 2 0 auto;
  }

  h3 {
    color: white;
  }

  hr {
    border-color: transparent;
  }

  a {
    color: white;
    // text-decoration: underline;
  }

  .contact-icon-wrapper {
    .icon-margin {
      margin: 0 0 0 15px;
    }
  }

  .social-icon-wrapper {
    .icon-margin {
      margin: 0 15px 0 0;
    }
  }
}

/* Copyright */
#copyright {
  padding: 0.5% 0;
  text-align: center;
}




