
$NAVY_DARK: rgba(0, 16, 33, 1);


// $NAVY: rgba(61, 90, 128, 1);
// $NAVY_TRANSPARENT: rgba(61, 90, 128, 0.5);

$NAVY: rgba(0, 0, 0, 1);
$NAVY_TRANSPARENT: rgba(0, 0, 0, 0.5);

// $GRAY: rgba(124, 158, 178, 1);
// $GRAY_TRANSPARENT: rgba(124, 158, 178, 0.5);
$GRAY: rgba(0, 0, 0, 1);
$GRAY_TRANSPARENT: rgba(0, 0, 0, 0.2);

// $BLUE: rgba(39, 93, 173, 1);
$BLUE: rgba(128, 132, 138, 1);


$PRIMARY: $NAVY;
$SECONDARY: $GRAY;
$TRANSPARENT: rgba(0, 0, 0, 0);

$FLUID_MAX_WIDTH: 1200px;
$NAVBAR_HEIGHT: 63px;

$MEDIA_FONT_SIZE_BP: 800px;

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

/* Global */
body {
  margin: 0;
  padding-top: $NAVBAR_HEIGHT;  /* Actual height of nav is 63px */
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.3em;
  // background-color: $GRAY;
  overflow-x: hidden;
}

section {
  padding-bottom: 5%;
}


h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  color: $PRIMARY;
  font-weight: 500;
}

b {
  color: $GRAY;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

/* Common Elements */
.btn-primary {
  background-color: $GRAY;
  border: 0;
  border-radius: 0;
  color: $NAVY; 
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: white;
    background-color: $NAVY;
    font-weight: bold;
    text-decoration: none !important;
}

.no-underline:hover {
  text-decoration: none;
}

a {
  color: $BLUE;
}

hr {
  color: $GRAY;
}



/* Navbar */
.navbar {
  // margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 0.3s ease-in-out; /* Safari prior 6.1 */
  transition:  background-color 0.3s ease-in-out;

  .nav-link {
    text-transform: uppercase;
  }

  a {
    color: white;
  }

  .navbar-brand {
    color: white;
  }

}

.navbar-light .navbar-nav .nav-link {
  // color: white;
  color: white;

  :hover {
    border-bottom: solid white 1px;
  }
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
  border-bottom: solid white 1px;
}

.navbar-masthead {
  background-color: $TRANSPARENT;
  -webkit-transition: background-color 0.3s ease-in-out; /* Safari prior 6.1 */
  transition:  background-color 0.3s ease-in-out;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), color-stop(75%, rgba(22, 22, 22, 0.7)), to(#161616)), url(assets/img/header/airplane-wing.jpg);
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(assets/img/header/airplane-wing-bw-tint.jpg);
  background-image:  url(assets/img/header/airplane-wing-bw.jpg);
  // background-image:  url(assets/img/header/airplane-wing.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 5%;
  margin-top: -63px;
  z-index: -1;
}

.masthead h1 {
  // font-family: 'Varela Round';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  // background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  // -webkit-text-fill-color: transparent;
  // -webkit-background-clip: text;
  color: white;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

/* Used for media atm */
.masthead-correction {
  margin-top: -$NAVBAR_HEIGHT;
}

/* Background media */
.media-container {

  .media {
    top: 0;
    left: 0;
    z-index: -3;
    position: absolute;
    width: 100%;
    height: 100%;
    // filter: blur(2px);
    // -webkit-filter: blur(2px);
  }
  
  .media-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    min-height: 70vh;
    padding: 2%;

    a {
      color: white;
    }

    .header-wrapper {
      display: inline-block;
      
      @media(max-width: $MEDIA_FONT_SIZE_BP) {
        h1 {
          font-size: 90%;
        }
      }
    }

    .body-wrapper {
      @media(max-width: MEDIA_FONT_SIZE_BP) {
        h2 {
          font-size: 100%;
        }

        p {
          font-size: 60%;
        }
      }
    }
  }

  h1, h2, p {
    color: white;
  }

  hr {
    // max-width: 400px;
    // max-width: 85%;
    border: solid rgba(255, 255, 255, 1) 1px;
    
  }
}


/* Eye Catcher */
.eye-catcher-container {
  // background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  // border-top: solid 2px black;
  // border-bottom: solid 2px black;
  
  h1, h2, h3 {
    color: black;
  }
}

/* presidio-aelf */
#presidio-aelf{
  // max-width: $FLUID_MAX_WIDTH;
  text-align: center;

  .card-title {
    text-transform: uppercase;
    font-size: 120%;
    color: $PRIMARY;
    border-bottom: solid $GRAY 1px;
    padding-bottom: 4%;
  }

  .card img {
    // padding: 1vh 5vh;
    // max-width: 500px;
    // margin: auto;
    // width: auto;
    // height: auto;
  }

  .card {
    margin-bottom: 5vh;
    border: 0;
    max-width: 600px;
    margin: 0 auto 5vh auto;
  }
} 


/* Statistics */
#statistics {
  text-align: center;
  padding: 5% 0;
  
  .counting-stat {
    font-size: 300%;
  }
}



/* World Map */
.map-wrapper {
  min-height: 31vh;
}

.jvectormap-container {
  background-color:  !important;
}

/* Mission Statement */
#mission-statement {
  text-align: center;
  margin-bottom: 5%;

  .icon {
    color: $BLUE;
  }

  .statement-text {
    font-size: 150%;
    // font-style: italic;
  }

  .emphasis {
    font-weight: bold;
  }

  .mechanism {
    text-transform: uppercase;
  }
}

/* Servies */
#services {

  button {
    background-color: $GRAY_TRANSPARENT;
    color: white;
  }

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: white;
    background-color: $NAVY_TRANSPARENT;
    font-weight: bold;
    text-decoration: none !important;
  }

  color: white;
  h1, h2, h3, p {
    text-align: center;
    color: white;
  }

  .image-bg {
    // background-image: url(assets/img/plane-stock-bw.jpg);
    // background-image: url(assets/img/plane-stock-tinted2.jpg);
    // background-image: url(assets/img/plane-stock-blur.jpg);
    // background-image: url(assets/img/plane-wing-astro-denoised.jpg);
    // background-image: url(assets/img/plane-sun.jpg);
    background-image: url(assets/img/plane-sun-darkened.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 2%;
    
  }

  .service {
    padding: 5% 0%;
  }

  @media(min-width: 1000px) {
    .service {
      padding: 5% 5%;
    }
  }
}


/* Our Team */
#our-team {

  .team-member-thumbnail:hover {
   
  }

  .thumbnail {
    padding-bottom: 10%;
    position: relative;
  }
  
  img {
    border: solid 1px rgba(0,0,0,0);
  }

  img:hover {
    border: solid rgba(0,0,0,0.7) 1px;
    -webkit-box-shadow: 0px 10px 25px 10px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 10px 25px 10px rgba(0,0,0,0.45);
    box-shadow: 0px 10px 25px 10px rgba(0,0,0,0.45);
    -webkit-transition: border 0.3s ease-in-out; /* Safari prior 6.1 */
    transition:  border 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out; /* Safari prior 6.1 */
    transition:  box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

  .caption {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .caption p {
    padding: 0;
    margin: 0;
  }

  .caption .name {
    font-size: 110%;
  }

  .caption .title {
    font-size: 80%;
  }
}

.team-bio-modal .modal-content {
  border-radius: 0;
}



/* Portfolio slides */
.carousel-caption {
  background-color: rgba(0,0,0, 0.5);

  h3 {
    font-size: 2em;
    color: white;
  }

  p {
    color: white;
  }
}

/* Recent Transactions */
#recent-transactions {
  padding: 5% 0;

  .card:hover {
    -webkit-box-shadow: 0px 0px 5px 0px $GRAY;
    -moz-box-shadow: 0px 0px 5px 0px $GRAY;
    box-shadow: 0px 0px 5px 0px $GRAY;

    -webkit-transition: border 0.25s ease-in-out; /* Safari prior 6.1 */
    transition:  border 0.25s ease-in-out;
    -webkit-transition: box-shadow 0.25s ease-in-out; /* Safari prior 6.1 */
    transition:  box-shadow 0.25s ease-in-out;
    cursor: pointer;
  }

  .card-header {
    text-transform: uppercase;
    background-color: $NAVY;
    color: white;
    font-weight: 500;
  }

  .card-footer {
    background-color: white;
    color: $NAVY;
  }

  a:hover {
    text-decoration: none;
  }

}

/* Aircraft */
#aircraft {
 
}



/* Transactions */
// #transactions {
//   padding-bottom: 0;

//   .transactions-body {

//     hr  {
//       border-color: transparent;
//     }

//     @media(max-width: 900px) {
//       hr {
//           border-color: $GRAY_TRANSPARENT;
//           width: 100%;
//       } 
//     }

//     h1 {
//       font-size: 3em;
//       text-align: center;
//       padding: 1% 0;
//     }

//     h2 {
//       font-size: 2.5em;
//     }

//     p {
//       font-size: 1.3em;
//       margin-bottom: 0;
//     }

//     .year {
//       margin-bottom: 2%;
//     }

//     .col-md-6 {
//       padding: 0 0;
//     }

//     .container-fluid {
//       padding-bottom: 0;
//     }
    
//     .light-row {
//       background-color: white;
//     }

//     .dark-row {
//       background-color: $PRIMARY;
//       color: white;

//       h2 {
//         color: white;
//       }
//     }

//     .info-column {
//       padding: 2vw 2vw;
//       max-height: 576px;
//       justify-content: center;
//       align-content: center;
//       align-items: center;
//       display: flex;
//       flex-direction: column;
//     }

//     .partner-logo {
//       margin-top: 2%;
//       max-height: 80px;
//     }
//   }
// }


/* Contact Us */
#contact-us {
  .locations {
    line-height: 70%;
  }
}

/* Footer */
footer {
  background-color: $NAVY;
  padding: 1% 0 0 0;
  color: white;

  .column {
    padding: 1%;
  }

  .partner-image {
    max-height: 100px;
  }
  // flex: <grow> <shrink> <basis>
  // .partners-wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   flex: 0 2 auto;
  //   // justify-content: center;
  //   // align-items: center;
  // }

  // .partners {
  //   // flex: 5 0 auto;
  //   // align-self: center;
  //   // flex-grow: 1;
  //   margin-top: auto;
  //   margin-bottom: auto;
  // }

  .contact-info {
    flex: 2 0 auto;
  }

  h3, hr {
    color: white;
  }

  a {
    color: $NAVY_DARK;
    text-decoration: underline;
    font-weight: bold;
  }
}

/* Copyright */
#copyright {
  display: flex;
  // align-content: space-around;
  // justify-content: space-around;
  padding: 0.5% 0;
  // background-color: $BLUE;
}




