/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

/* Global */
body {
  margin: 0;
  font-family: 'Darker Grotesque', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* Hero */
.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Text styles */
  text-align: center;
  color: white;

  /* Background styles */
  background-image: url(assets/img/header/airplane.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 500%;
}

/* Our Team */
#our-team .thumbnail {
  padding-bottom: 10%;

}

.thumbnail {
  position: relative;
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.caption p {
  padding: 0;
  margin: 0;
}

.caption .name {
  font-size: 110%;
}

.caption .description {
  font-size: 80%;
}

.team-bio-modal .modal-content {
  border-radius: 0;
}